﻿<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Manage</div>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageMenu">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Manage Menu
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageOrder">
                    <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                    Manage Orders
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageInventory">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Manage Inventory
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageStaffs">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Manage Staff
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ProfitOrders">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Profit Orders
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ProfitOrdersPerDay">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Daily Profit Orders
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ProfitOrdersPerMonth">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Monthly Profit Orders
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageTable">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Manage Table
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/TableServiceProcess">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Table Service Process
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Coffee Shop
            <a href="/Common/Logout" class="btn btn-danger btn-sm d-block mt-2">Logout</a>
        </div>
    </nav>
</div>