﻿<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Manage</div>
                <a class="nav-link" href="/Admin/ManageProduct">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Manage Products
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/ManageOrder">
                    <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                    Manage Orders
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/DailyRevenueReport">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-day"></i></div>
                    Daily Revenue Report
                </a>
                <a class="nav-link" href="/CoffeApp/Dashboard/MonthlyRevenueReport">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Monthly Revenue Report
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Coffee Shop
            <a href="/Common/Logout" class="btn btn-danger btn-sm d-block mt-2">Logout</a>
        </div>
    </nav>
</div>